{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To</div>
        <div class="masthead-heading text-uppercase">DevsHub</div>
        <p class="text-lg">Tell Me More Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, dolore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reprehenderit molestiae laudantium.</p>
        <p>Lorem, ipsum dolor.</p>
    </div>
</header>



{% endblock %}
