{% extends 'base.html' %} {% block title %}Blog{% endblock %} {% block body %}{% load static %}{% load humanize %}

<section class="page-section" id="page-section">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase">Blog</h1>

      <div class="d-flex justify-content-center flex-column">
        {% for post in posts %}
        <div class="card mb-3 blog-post-bg">
            <div class="row g-0">
            <div class="col-md-5">
                <img src="{{post.thumbnail.url}}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-7">
                <div class="card-body text-start">
                    <h5 class="card-title text-white">{{post.title}}</h5>
                    <p class="card-text text-white">
                        {{post.desc}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted d-flex">Author - <a class="text-decoration-none" href="/blog/{{post.author}}">{{post.author|capfirst}}</a></small>
                        <small class="text-muted">{{post.time|naturaltime}}</small>
                    </p>
                    <a href="/blog/{{post.author}}/{{post.slug}}/">Read This Post</a>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <dev class="paginator">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="?page={% if posts.has_previous %}{{posts.previous_page_number}} {% else %}{{posts.number}}{% endif %}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="?page={% if posts.has_previous %}{{posts.previous_page_number}} {% else %}{{posts.number}}{% endif %}">{% if posts.has_previous %}{{posts.previous_page_number}} {% else %} 1 {% endif %}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{posts.number}}">{{posts.number}}</a></li>
          <li class="page-item"><a class="page-link" href="?page={% if posts.has_next %}{{posts.next_page_number}} {% else %}{{posts.number}}{% endif %}">{% if posts.has_next %}{{posts.next_page_number}} {% else %} {{posts.number}} {% endif %}</a></li>
          <li class="page-item">
            <a class="page-link" href="?page={% if posts.has_next %}{{posts.next_page_number}} {% else %}{{posts.number}}{% endif %}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </dev>
    </div>
  </div>
</section>

{% endblock %}
