{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block body %}

<section class="page-section" id="page-section">
    <div class="container">
        <div class="loginc">
            <div class="text-center login">
                <h2 class="section-heading text-uppercase">Login</h2>
                <form id="contactForm" method="POST" action="/user/login/">
                    {% csrf_token %}
                    <div class="login-div">
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Username *"
                                data-sb-validations="required" name="username"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="password" type="password" placeholder="Password *"
                                data-sb-validations="required" name="password"/>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">
                            Login
                        </button>
                    </div>
                </form>
                <div class="signup-link my-3">
                    <p>Didn't have a Account <a class="text-decoration-none" href="/user/signup/">SignUp</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
