{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block body %}

<section class="page-section" id="page-section">
    <div class="container">
        <div class="loginc">
            <div class="text-center login">
                <h2 class="section-heading text-uppercase">SignUp</h2>
                <form id="contactForm" method="POST" action="/user/signup/">
                    {% csrf_token %}
                    <div class="login-div">
                        <div class="form-group">
                            <input class="form-control" id="name" name="name" type="text" placeholder="Name *"
                                data-sb-validations="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="name" name="username" type="text" placeholder="Username *"
                                data-sb-validations="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="name" name="email" type="email" placeholder="Email *"
                                data-sb-validations="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" name="password" type="password" placeholder="Password *"
                                data-sb-validations="required" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">
                            SignUp
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
